<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  {% load static %}
  <script type="module" src="{% static 'js/main.js' %}" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <head>
    <title>Home</title>
    <style>
      body {
        font-family: sans-serif;
        padding: 20px;
      }

      h2 {
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        color: #2b579a;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <!-- Header -->
    <div class="header">
      <div class="logo">
        <img class="logo_kodely" src="{% static 'img/logoKodely.svg' %}" alt="Kodely Logo">
      </div>
      <div class="header-actions">
        {% if request.user.is_authenticated %}
        <button id="logout-button" class="btn-login">Cerrar sesión</button>
        <a href="{% url 'crear_post' %}" class="btn-login">Crear Post</a>
        {% if request.user.photo_url %}
        <a href="{% url 'perfil' %}">
          <img class="user_photo" src="{{ request.user.photo_url }}" alt="Foto de perfil" width="100">
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'login_page' %}" class="btn-login">Iniciar Sesión</a>
        {% endif %}
      </div>
    </div>

    <!-- Posts -->
    <div class="posts-container">
      {% for post in posts %}
      <div class="post-card {% if forloop.first %}featured{% endif %}">
        <div class="post-header">
          <div class="avatar">
            {% if post.author.photo_url %}
            <img src="{{ post.author.photo_url }}" alt="Avatar de {{ post.author.name }}" class="user_photo">
            {% endif %}
          </div>
          <div class="author-info">
            <span class="author-name">{{ post.author.name }}</span>
            <span class="post-date">{{ post.created_at|date:"M/d" }}</span>
          </div>
        </div>
        <div class="post-title">
          <a href="{% url 'ver_post' post.id %}">{{ post.title }}</a>
        </div>
        <div class="post-reactions">
          {{ post.reactions.count }} Reacciones
        </div>
      </div>
      {% empty %}
      <div class="post-card">
        <div class="post-title">No hay posts aún.</div>
      </div>
      {% endfor %}
    </div>
  </body>

</html>